@import "layout-theme";

.logo {
  content: url('~dds-angular8/assets/img/logo.svg');
}

.default-avatar {
  content: url('~dds-angular8/assets/img/avatar.png');
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden}

/* Icon sizing */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Cards/panels */

.mat-card {
  padding: 0 !important;
}

.mat-card-header {
  padding: 16px 16px 0 16px !important;
  .mat-card-avatar {
    font-size: 40px;
    padding-right: 8px;
    i {
      width: 1.25em;
      text-align: center;
    }
  }
  .mat-action {
    font-size: 28px;
    height: fit-content;
    border-radius: 50%;
    i {
      padding: 8px 4px 6px 4px;
      height: fit-content;
    }
  }
}

.mat-card-content {
  padding: 16px;
}

.mat-card-subtitle {
  min-height: 17px;
}


.mat-card-content.fill {
  height: calc(100% - 100px);
  overflow-y: scroll;
}

/* Dialogs */
.mat-dialog-content {
  font-size: 14px;
  overflow: hidden !important;
}

.scroll {
  overflow-y: auto;
}

.mat-menu-panel {
  max-width: none !important;
}



/* Tables */
.mat-table-compact.mat-table
{
  .mat-header-row,
  .mat-row {
    height: 41px;
  }
}


.mat-table-expanding {
  tr.expanding-row {
    height: 0;
  }

  .header-row td {
    border-bottom-width: 0;
  }

  .expanded-detail {
    overflow: hidden;
    display: flex;
  }
}

/* Style regular tables as material */
table.mat-table {border-spacing:0}
tr.mat-header-row{height:56px}
tr.mat-footer-row,tr.mat-row{height:48px}
th.mat-header-cell{text-align:left}
[dir=rtl] th.mat-header-cell{text-align:right}
td.mat-cell,td.mat-footer-cell,th.mat-header-cell{padding:0;border-bottom-width:1px;border-bottom-style:solid}
td.mat-cell:first-of-type,td.mat-footer-cell:first-of-type,th.mat-header-cell:first-of-type{padding-left:24px}
[dir=rtl] td.mat-cell:first-of-type,[dir=rtl] td.mat-footer-cell:first-of-type,[dir=rtl] th.mat-header-cell:first-of-type{padding-left:0;padding-right:24px}
td.mat-cell:last-of-type,td.mat-footer-cell:last-of-type,th.mat-header-cell:last-of-type{padding-right:24px}
[dir=rtl] td.mat-cell:last-of-type,[dir=rtl] td.mat-footer-cell:last-of-type,[dir=rtl] th.mat-header-cell:last-of-type{padding-right:0;padding-left:24px}


/* General/flex layout */

.flex {
  .mat-form-field-appearance-outline {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.flex-center {
  display: flex;
  align-items: center;
  place-content: center;
}

.noresize {
  resize: none !important;
}

/* Tree */

.mat-tree-node {
  min-height: unset;
}


.mat-tree {
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

.tree-compact {
  .mat-tree-node {
    min-height: 0;
  }

  .mat-icon-button {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
}

/* Highlight/hover */

.show-child-on-hover .child-to-show {
  display: none;
}

.show-child-on-hover:hover .child-to-show {
  display: inline;
}

.show-child-on-hover .child-to-hide {
  display: inline;
}

.show-child-on-hover:hover .child-to-hide {
  display: none;
}

.required-field-note:after {
  color: red;
  content: '* Required field';
}

.mat-form-field-flex {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  display: flex;
  align-items: center;
}

table.mat-table-compact.mat-table {
  tr.mat-row {
    height: 30px;
    td {
      border-bottom-color: rgba(0, 0, 0, 0.08);
      button.mat-icon-button {
        height: 29px;
        width: 29px;
        line-height: 29px;
      }
    }
  }
}
